In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import phik
from phik.report import plot_correlation_matrix
from phik import report

#### Data Ingestion

DATA DESCRIPTION:<br>
Input features:<br>
Objective: factual information;<br>
Examination: results of medical examination;<br>
Subjective: information given by the patient.<br>

Features:<br>
Age | Objective Feature | age | int (days)<br>
Height | Objective Feature | height | int (cm) |<br>
Weight | Objective Feature | weight | float (kg) |<br>
Gender | Objective Feature | gender | categorical code |<br>
Systolic blood pressure | Examination Feature | ap_hi | int |<br>
Diastolic blood pressure | Examination Feature | ap_lo | int |<br>
Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |<br>
Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |<br>
Smoking | Subjective Feature | smoke | binary |<br>
Alcohol intake | Subjective Feature | alco | binary |<br>
Physical activity | Subjective Feature | active | binary |<br>
Presence or absence of cardiovascular disease | Target Variable | cardio | binary |‚Äù <br>

In [7]:
df = pd.read_csv('cardio_train 3.csv',sep=';')

#### Data Pre-Processing

In [8]:
#display first 5 rows
df.head(20)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0
10,15,22530,1,169,80.0,120,80,1,1,0,0,1,0
11,16,18815,2,173,60.0,120,80,1,1,0,0,1,0
12,18,14791,2,165,60.0,120,80,1,1,0,0,0,0
13,21,19809,1,158,78.0,110,70,1,1,0,0,1,0
14,23,14532,2,181,95.0,130,90,1,1,1,1,1,0
15,24,16782,2,172,112.0,120,80,1,1,0,0,0,1
16,25,21296,1,170,75.0,130,70,1,1,0,0,0,0
17,27,16747,1,158,52.0,110,70,1,3,0,0,1,0
18,28,17482,1,154,68.0,100,70,1,1,0,0,0,0
19,29,21755,2,162,56.0,120,70,1,1,1,0,1,0

#### Removing duplicates to avoid skewed results during data analysis that can lead to inaccurate recommendations

In [9]:
df['id'].value_counts() #no duplicates found hence keep all rows

0        1
66623    1
66631    1
66630    1
66628    1
        ..
33338    1
33339    1
33340    1
33341    1
99999    1
Name: id, Length: 70000, dtype: int64

#### Data Observation

#### Data imputation to preserve statistical power, avoid bias as much as possible.

In [10]:
def produce_missing_report(df):
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({
                                     'percent_missing': percent_missing})
    return missing_value_df

produce_missing_report(df)

             percent_missing
id                       0.0
age                      0.0
gender                   0.0
height                   0.0
weight                   0.0
ap_hi                    0.0
ap_lo                    0.0
cholesterol              0.0
gluc                     0.0
smoke                    0.0
alco                     0.0
active                   0.0
cardio                   0.0

#### Data Standardization

#### Outlier Detection and analysis for the movie runtime feature

#### Correlation analysis